body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat"; 
}

p{
    color: #afafaf;
    font-size: 0.85rem;
}

.big-heading, .cta-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    margin-bottom: 30px;
}

.section-heading{
    font-size: 2rem;
    line-height: 1.5;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colored-section{
    background-color: #ff0026;
    color: white;
}

.white-section{
    background-color: white;
}

/* Navigation Bar  */

.navbar {
    padding: 0 0 4.5em;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 10px;
}

.nav-link{
    font-family: "Montserrat-Light";
    font-size: 1.2rem;
}

/* download button  */

.download-button{
    margin: 5% 3% 5% 0%;
}

/* Title Section */

#title .container-fluid{
    padding: 3% 15% 7%;
    height: 674px;
    text-align: left;
}

/* Title Image  */

.title-image {
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

/* Features Section */

#features {
    z-index: 1;
    position: relative;
}

.feature-title{
    font-size: 1.5rem;
}

.feature-box{
    padding: 5%;
}

.feature-icon{
    color: #ff0026;
    margin-bottom: 1rem;
}

.feature-icon:hover{
    color: red;
}

/* Testimonials Section */

#testimonials{
    background-color: #ff0026;
}

.testimonial-text{
    font-size: 1.5rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ff0026;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}
  
.price-text {
    font-size: 3rem;
    line-height: 1.5;
}
  
.pricing-column {
    padding: 3% 2%;
}

/* CTA Section */

/* Footer Section */

.social-icon{
    margin: 20px 10px;
}


@media (max-width: 1157px) {



#title {
    height: auto;
    text-align: center;
    }
  
.title-image {
    padding-top: 5%;
    position: static;
    transform: rotate(0);
}
}